- if current_user.admin? && params['action'] == 'edit'
  %h3 Merge Articles
  = form_tag "/admin/content/merge/#{params[:id]}" do 
    = label_tag "Article Id"
    = text_field_tag "merge_with"
    %br
    = submit_tag "Merge"
